<div class="sidebar" id="sidebar">
    <div class="container">
        <h2>{{message.name}}</h2>
        <div class="sidebar-info">
            <div>Country Code: {{message.iso2Code}}</div>        
            <div>Capital City: {{message.capitalCity}}</div>
            <div>Region: {{message.region['value']}}</div>
            <div>Income Level: {{message.incomeLevel['value']}}</div>
            <div>Latitude: {{message.latitude}}</div>
            <div>Longitude: {{message.longitude}}</div>
        </div>
    </div>
    <button id="sidebar-button">Close</button>
</div>
